h2.location {
  margin: 0px !important;
  margin-bottom: 10px;
  font-weight: bold;
}
.App {
  height: 100vh;
  color: #333;
}
.section {
  padding: 15px;
}
.container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.UwerLocationInput {
  outline: none;
  padding: 10px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 14pt;
}

.icon svg {
  width: 24px;
  height: auto;
  vertical-align: middle;
}

.weather {
  text-align: center;
}

.weather .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 5px 0px 5px;
}
.weather .status .label {
  text-transform: capitalize;
}
.icon > i.owi {
  font-size: 3.5rem;
}

.weather .temperature {
  padding: 20px;
}
.weather .temperature .celsius {
  font-size: 6.5rem;
  display: inline-block;
  font-weight: 700;
  letter-spacing: -10px;
}
.weather .temperature .icon {
  display: inline-block;
  vertical-align: top;
}
.weather .temperature .icon svg {
  width: 45px;
  height: auto;
}

.weather .location {
  font-weight: bold;
  margin-bottom: 5px;
}

.weather time {
  font-weight: 300;
  font-size: 10pt;
}
