svg path {
  fill: #444;
}
svg {
  width: 24px;
  height: auto;
}
.Wera {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  color: #424242;
}
.WeraContainer {
  max-width: 456px;
  margin-left: auto;
  margin-right: auto;
}
.WeraLocation {
  margin-bottom: 20px;
  text-align: center;
}
.WeraCity {
  font-weight: bold;
}
.WeraLocation p:first-child {
  margin-bottom: 10px;
  font-size: 20px;
}
.WeraNavbar {
  padding: 10px;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px -2px 10px 0px rgba(0,0,0, 0.05);
}
.WeraFieldWithIcon {
  position: relative;
}
.WeraLocationInput {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid rgba(0,0,0,0.3);
  overflow: hidden;
  border-radius: 6px;
  font-size: 12pt;
  outline: none;
}
.WeraLocationInput:focus {
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
  border-color: #333;
}
.WeraLocationInput:focus::placeholder {
  color: #555555;
}
.WeraLocationInput::placeholder {
  color: #888888;
}
.WeraLocationInput:focus ~ .WeraInputIcon svg path {
  fill: #555;
}
.WeraInputIcon {
  display: flex;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 0px 10px;
}
.WeraInputIcon svg {
  width: 24px;
  height: auto;
}
.WeraInputIcon svg path {
  fill: #999999;
}
.WeraLocation p:nth-child(2) {
  font-weight: 300;
}
.WeraStatus {
  padding: 10px;
  text-align: center;
}
.WeraStatusIcon {
  display: block;
}
.WeraStatusIcon i {
  font-size: 3rem;
}
.WeraStatusLabel {
  display: block;
  text-transform: capitalize;
}
.WeraTemperature {
  padding: 12px;
}
.WeraTemperature .WeraCelsius {
  font-size: 8rem;
  letter-spacing: -5px;
  font-weight: bold;
}
.WeraTemperature .WeraCelsiusIcon {
  vertical-align: top;
  display: inline-flex;
}
.WeraTemperature .WeraCelsiusIcon svg {
  width: 50px;
  height: auto;
}
.WeraWelcomeMessage {
  padding: 10px 20px;
  text-align: left;
  max-width: 275px;
}
.Logo {
  vertical-align: bottom;
  width: 64px;
  height: auto;
  margin-right: 10px;
}
.LogoLabel {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.WeraWelcomeMessage .Subtitle {
  font-size: 1rem;
  color: #666666;
  line-height: 1.5;
}
